<div class="panel" style="max-width: 500px; margin: 50px auto;">
    <h3>👥 Cadastrar Colaborador</h3>
    
    <div class="form-group">
        <label>TIPO DE ACESSO</label>
        <select [(ngModel)]="novoUsuario.role">
            <option value="USER">OPERADOR (CHÃO DE FÁBRICA)</option>
            <option value="ADMIN">ADMINISTRADOR (ESCRITÓRIO)</option>
        </select>
    </div>
    
    <div class="form-group">
        <label>NOME COMPLETO</label>
        <input type="text" [(ngModel)]="novoUsuario.userName" placeholder="NOME DO COLABORADOR">
    </div>
    
    <div class="form-group">
        <label>E-MAIL</label>
        <input type="text" [(ngModel)]="novoUsuario.email" placeholder="E-mail de acesso">
    </div>
    
    <div class="form-group">
        <label>SENHA</label>
        <input type="password" [(ngModel)]="novoUsuario.password" placeholder="******">
    </div>
    
    <button class="btn btn-full btn-blue" (click)="executarCadastro()">Confirmar Cadastro</button>
</div>