<div class="form-container">
  <h2 class="title">Novo Usuário</h2>

  <div class="input-group">
    <label>Nome de Usuário</label>
    <input type="text" 
           [(ngModel)]="novoUsuario.userName" 
           placeholder="Ex: ludimila_dev"
           class="neo-input">
  </div>

  <div class="input-group">
    <label>E-mail</label>
    <input type="email" 
           [(ngModel)]="novoUsuario.email" 
           placeholder="exemplo@email.com"
           class="neo-input">
  </div>

  <div class="input-group">
    <label>Senha</label>
    <input type="password" 
           [(ngModel)]="novoUsuario.password" 
           placeholder="Digite sua senha"
           class="neo-input">
  </div>

  <div class="input-group">
    <label>Perfil de Acesso</label>
    <select [(ngModel)]="novoUsuario.role" class="neo-input">
      <option value="USER">Operador (Fábrica)</option>
      <option value="ADMIN">Administrador (Escritório)</option>
    </select>
  </div>

  <button (click)="executarCadastro()" class="neo-button primary">
    🚀 Finalizar Cadastro
  </button>
</div>